:root {
  --blue: rgb(0, 47, 255);
  --blue-1: rgb(0, 70, 255);
  --blue-2: rgb(0, 100, 255);
  --blue-3: rgb(0, 120, 255);
  --blue-4: rgb(0, 140, 255);
  --blue-5: rgb(0, 160, 255);
  --blue-6: rgb(0, 180, 255);
  --blue-7: rgb(0, 200, 255);
  --green: rgb(0, 128, 0);
  --green-1: rgb(0, 140, 0);
  --green-2: rgb(0, 160, 0);
  --green-3: rgb(0, 180, 0);
  --green-4: rgb(0, 200, 0);
  --green-5: rgb(0, 220, 0);
  --green-6: rgb(0, 240, 0);
  --green-7: rgb(0, 255, 0);
  --red: red;
  --red-1: rgb(235, 0, 0);
  --red-2: rgb(215, 0, 0);
  --red-3: rgb(195, 0, 0);
  --red-4: rgb(175, 0, 0);
  --red-5: rgb(155, 0, 0);
  --red-6: rgb(135, 0, 0);
  --red-7: rgb(115, 0, 0);
  --pink: pink;
  --pink-1: rgb(255, 150, 203);
  --pink-2: rgb(255, 130, 203);
  --pink-3: rgb(255, 110, 203);
  --pink-4: rgb(255, 90, 203);
  --pink-5: rgb(255, 70, 203);
  --pink-6: rgb(255, 50, 203);
  --pink-7: rgb(255, 30, 203);
  --purple: purple;
  --purple-1: rgb(118, 0, 118);
  --purple-2: rgb(108, 0, 108);
  --purple-3: rgb(98, 0, 98);
  --purple-4: rgb(88, 0, 88);
  --purple-5: rgb(78, 0, 78);
  --purple-6: rgb(68, 0, 68);
  --purple-7: rgb(58, 0, 58);
  --yellow: yellow;
  --yellow-1: rgb(235, 255, 0);
  --yellow-2: rgb(255, 235, 0);
  --yellow-3: rgb(235, 235, 0);
  --yellow-4: rgb(215, 235, 0);
  --yellow-5: rgb(235, 215, 0);
  --yellow-6: rgb(195, 215, 0);
  --yellow-7: rgb(215, 195, 0);
}
